---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    {% if post.link %}
      <h1 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a>&nbsp;&nbsp;<i class="fa fa-link"></i></h1>
    {% else %}
      <h1 class="post-title"><a href="{{ base.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h1>
    {% endif %}
    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-meta-entry">
        <i class="fa fa-calendar">&nbsp;</i>
        {{ post.date | date: "%B %-d, %Y" }}
      </time>
      <span class="post-meta-entry">
        <i class="fa fa-folder-open-o">&nbsp;</i>
        {% if post.category contains "Blog" %}
        <span class="category-color-blog">
        {% elsif post.category contains "Technology" %}
        <span class="category-color-technology">
        {% elsif post.category contains "Programming" %}
        <span class="category-color-programming">
        {% elsif post.category contains "Learning" %}
        <span class="category-color-learning">
        {% else %}
        <span>
        {% endif %}
        {{ post.categories }}
        </span>
      </span>
      <span class="post-meta-entry">
        <i class="fa fa-keyboard-o">&nbsp;</i>
        {{ post.content | number_of_words }} words
      </span>
      <span class="post-meta-entry">
        <i class="fa fa-link">&nbsp;</i>
        <a href="{{ post.permalink }}">Permalink</a>
      </span>
    </div>
    {{ post.content }}
  </article>
  <hr clas="post-separator" />
  {% endfor %}

</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item older" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item newer" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}

</div>
