---
layout: default
---

<article class="post">
  {% if page.link %}
    <h1 class="post-title"><a href="{{ page.link }}">{{ page.title }}</a>&nbsp;&nbsp;<i class="fa fa-link"></i></h1>
  {% else %}
    <h1 class="post-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
  {% endif %}
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-meta-entry">
      <i class="fa fa-calendar"></i>
      {{ page.date | date: '%B %d, %Y' }}
    </time>
    <span class="post-meta-entry">
      <i class="fa fa-folder-open-o"></i>
      {{ page.categories }}
    </span>
    <span class="post-meta-entry">
      <i class="fa fa-keyboard-o"></i>
      {{ page.content | number_of_words }} words
    </span>
  </div>
  {{ page.content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
